---
- include:              '../tasks/install_packages.yml'
- include:              '../tasks/restart_services.yml'
  when:                 install_packages_result.changed
- include:              '../tasks/install_files.yml'
#- include:              '../tasks/shell_commands.yml'
- include:              '../tasks/git_repos.yml'
  # install == changed; update == unchanged
  changed_when:         "'null' == git_repos_result.before"
